.role::first-letter {
  text-transform: capitalize;
}

td {
  text-align: start;
  height: 60px;
  border-bottom: 1px solid lightgray;
  vertical-align: middle;
}

.actionsContainer {
  display: flex;
  gap: 16px;
  cursor: pointer;
}

.fieldLayout {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 4px;
  outline: none;
  width: 85%;
}

.rowSelected {
  background-color: #f8f8f8;
}

.checkboxWrapper {
  min-width: 260px;
}

.wrapper {
  min-width: 150px;
}

.trashCan {
  color: #f44336eb;
}
