.searchInput {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
}

.deleteBtn {
    background-color: rgb(233, 26, 71);
    color: #fff;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(233, 26, 71);
    border-radius: 5px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.footer {
    display: flex;
    justify-content: space-between
}